@import "variables";

.night-king-figure {
  position: absolute;
  right: -180px;
  bottom: 0px;
  max-height: 400px;
}

.jon-snow-figure {
  position: absolute;
  left: -280px;
  bottom: 0px;
  max-height: 380px;
}

.character-images {
  overflow-y: hidden;
  overflow-x: hidden;
}

.instructions {
  background-color: rgba(0,0,0, 0.0);
  position:absolute;
  bottom: 0;
  width:100%;
}

.instructions-text {
  position:absolute;
  bottom: 0;
  width:100%;
  margin: 0 auto;
}