@import "variables";

.intro {
  z-index: +2; position: absolute;
  margin: auto;
  left: 0; top: 80px; right: 0;
  max-width: 80%;
  .intro-div {
    display: flex-wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    height: 600px;
    background-color:rgba(0,0,0, 0.9);
    -webkit-box-shadow: 0px 0px 30px 14px $white;
    -moz-box-shadow: 0px 0px 30px 14px $white;
    box-shadow: 0px 0px 30px 14px $white;
    color: $white;
    font-size: 26px;
    .winter {
      color: $dark-red;
      font-weight: bold;
      cursor: pointer;
      animation-delay: 1s;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }
  }
}