@media only screen and (max-width: 1023px), (max-height: 719px) {

  body {
    overflow: auto;
  }
  .night-king-figure {
    display: none;
  }
  .jon-snow-figure {
    display: none;
  }
  .instructions {
    position: relative;
  }
  .intro {
    .intro-div {
      font-size: 18px;
    }
  }
  .instructions-text {
    position:relative;
  }
}