@import "header";
@import "playarea";
@import "events";
@import "variables";
@import "footer";
@import "intro";
@import "responsive";

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wall-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Cinzel', serif;
}

.container {
  display: flex;
  margin: 0 auto;
  z-index: +1; position:relative;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
