* {
  box-sizing: border-box;
}

.container {
      display: flex;
}

.comp-grid {
    display: inline-flex;
    flex-wrap: wrap;
    width: 500px;
    border: 1px solid black;
    margin: auto;
    .grid-div {
      flex-basis: 10%;
      display: flex;
      background: dodgerblue;
      width: 50px;
      height: 50px;
      border: 1px solid black;
    }
  }


.user-grid {
    display: inline-flex;
    flex-wrap: wrap;
    width: 500px;
    border: 1px solid black;
        margin: auto;
    .grid-div {
      flex-basis: 10%;
      display: flex;
      background: dodgerblue;
      width: 50px;
      height: 50px;
      border: 1px solid black;
    }
  }
